/* breadcrumbs */

.breadcrumbs {
    display: flex;
    margin-bottom: 50px;    
    position: relative;

    @media (max-width: 768px) {        
        margin-bottom: 9px;
        margin-left: 59px;
        margin-top: 8px;
    }
    a { 
        margin-right: 48px;    
    } 
    p {
        margin: 0;
        margin-left: 1px;
    }   
    &__next {
        font-family: $four-font;
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px; 
        color: $text-color; 

        @media (max-width: 445px) {        
            font-size: 16px;
            line-height: 21px;       
            margin-top: -1px;
            margin-left: 1px;
        }
        &::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 12px;
            margin-left: 22px;
            top: 7px;   
            background-image: url('../img/breadcrumbs.png');    
            background-position: center; 
            background-repeat: no-repeat; 

            @media (max-width: 445px) {        
                background-image: url('../img/breadcrumbs-mobile.png'); 
                margin-left: 13px;
                margin-top: -3px;  
            }   
        }
    }
    &__next-2 {
        font-family: $four-font;
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px; 
        color: $text-color; 

        @media (max-width: 445px) {        
            font-size: 16px;
            line-height: 21px;       
            margin-top: -1px;
            margin-left: 1px;
       
        }
        &::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 12px;
            margin-left: 22px;
            top: 7px;   
            background-image: url('../img/breadcrumbs.png');    
            background-position: center; 
            background-repeat: no-repeat; 

            @media (max-width: 445px) {        
                background-image: url('../img/breadcrumbs-mobile.png');  
                margin-left: 13px;
                margin-top: -3px;  
            }  
        }  
    }
    &__disable {
        font-family: $four-font;
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px; 
        color: $text-color; 
        text-transform: capitalize; 
        cursor: pointer;
        opacity: .5;

        @media (max-width: 445px) {        
            font-size: 16px;
            line-height: 21px;       
            margin-top: -1px;
            margin-left: 1px;
        }  
    }
}


