/* pagination */

.pagination__wrapper {
    margin-top: 30px;
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
    position: relative;

    @media (max-width: 768px) {      
        margin-top: -16px;
        margin-bottom: 47px;
        margin-left: 78px;
        margin-right: 41px;
    }
    @media (max-width: 376px) {      
        margin-left: 52px;
        margin-top: 19px;
        margin-bottom: 45px;        
    }
    ul {
        display: flex;
        justify-content: space-between;
    }
}


.pages {
    @media (max-width: 768px) {      
        margin-top: 7px;
        margin-left: -10px;
    }  
    &__link {
        font-family: $secondary-font;    
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;  
        text-transform: uppercase; 
        padding: 0px 32px;
        color: $text-color;
        transition: $transition-duration;
        @media (max-width: 768px) {      
            margin-left: 11px;
            margin-right: -10px;
        }    
        @media (max-width: 376px) {      
            font-size: 14px;
            line-height: 17px;
            margin-left: -6px;
            margin-right: -6px;
        }  
        &:active {
            opacity: 0.2;        
        }
        a:hover {
            opacity: 0.5;
            cursor: pointer;
        }  
        &_active {
            color: $color-hover;
        }
    } 
    &__list {
        @media (max-width: 376px) {    
            margin-left: -8px;
            margin-right: -19px;
            margin-top: 11px;
            margin-bottom: 3px;
        }    
    }  
}

.pagination__prev {
    transform: rotate(-180deg);
    @media (max-width: 768px) {      
        margin-left: -20px;
        margin-right: -43px;
}    
    @media (max-width: 376px) {      
        margin-left: -32px;
        margin-right: 6px;
        
    }    
}

.pagination__next {
    @media (max-width: 768px) {      
        margin-left: -35px;
        margin-right: 4px;
        margin-top: 1px;
    }

    @media (max-width: 376px) {      
        margin-left: 6px;
        margin-right: -37px;
        margin-top: 13px; }
    }
 
.prev {
    padding-left: 20px;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: none;
    fill:#E4E1E1;
    @media (max-width: 376px) {      
        width: 12px;
        height: 12px;
        padding-left: 20px;
    } 
    &:hover {
        transition: $transition-duration;
        fill: $color-hover;
    }
    &:active {
        transition: $transition-duration;
        opacity: 0.5;
    }   
}

.next {
    @extend .prev  
}



