* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

a {
    text-decoration: none;
}

.underline {
    list-style-type: none;
}


.underline {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* vector */

.pagination-vector-left, 
.pagination-vector-right {    
    background-image: url('../img/vector-left.svg');    
    background-repeat: repeat;
    background-position: center;  
    display: block;
    top: 0;
    right: 0;
    width: 17px;
    height: 30px;   
}   

/* popup */

.popup {
    position: fixed;    
    top: 0;
    left: 0;
    right: 0;
    background: rgba(125, 151, 218, 0.8);
    bottom: 0;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup-open {
    display: flex;
}

.popup-form {
    width: 680px;
    background: #E5EAF8;
    padding: 67px 42px 53px 42px;
    position: relative;
    margin-right: 75px;
    margin-bottom: 2px;
}

.popup-close {
    border: none;
    background: transparent;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer; 
    background: #E5EAF8;
    transform: rotate(90deg);    
}

.popup-close:hover {
    background: rgba(240, 240, 240, 0.7);
    transform: rotate(90deg);
}

.popup-close:active {
background: rgba(240, 240, 240, 0.4);
transform: rotate(90deg) 
} 

