.title {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 41px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 56px;
    margin-bottom: 14px;
}

.contact-wrapper{
    display: flex;
    justify-content: space-between;
}

.form-contact {      
    width: 680px;   
    background: #E5EAF8;
    padding: 42px 40px;
    margin-right: 120px;
    margin-bottom: 60px;
}

input, 
textarea {
    background: #FFFFFF;
    border: 1px solid #C7C1C1;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    padding: 14px 20px 11px 20px;
    resize: none;  
    outline: none;      
}

input:hover, 
textarea:hover,
input:active, 
textarea:active {
    background: #FFFFFF;
    border: 1px solid #C29974;      
} 

input:disabled, 
textarea:disabled {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;    
}

textarea {
    max-height: 150px;
}

label,
.label-wrapper span {    
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;   
}

.label-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
    margin-right: 52px;
}

.label-name {
    margin-top: -25px;
    margin-left: -2px;
}

input {
    margin-left: -3px;   
}

.input-name {
    width: 600px;
}

.field-2-column{
    display: flex;
    justify-content: space-between;   
}
  
.field-2-column .label-wrapper {
    width: 290px;    
}

.input-phone {
    margin-left: -2px;
    margin-right: 21px;
    width: 290px;
}

.label-phone {
    margin-left: -2px;
}

.label-email {
    margin-top: 3px;
}

.input-email {
    margin-left: 2px;
    width: 290px;
}

.label-message {
    margin-top: 3px;
    margin-left: -2px;
}

.input-message {
    margin-top: 3px;
    margin-left: -3px;
    margin-bottom: 7px;
    width: 600px;
}

.consent {
    margin-left: -5px;
}


.checkbox-input {
    display: none;   
}

.checkbox-label {
    position: relative;
    cursor: pointer;
    padding-left: 36px;  
}

.checkbox-label::before,
.checkbox-label::after {
    content:'';
    position: absolute;
    display: block;   
}

.checkbox-label::before {   
    width: 19px;
    height: 19px;     
    border: 2px solid #C29974;
    background: #FFFFFF;
    border-radius: 3px; 
    top: -3px;
    left: 0;
}
.checkbox-label::after {
    width: 14px;
    height: 14px;     
    background-image: url('../img/checkbox.svg'); 
    top: 0px;
    left: 4px;
    opacity: 0;
} 

.checkbox-input:checked + .checkbox-label::after {
    opacity: 1;
}

.checkbox-label:hover,
.checkbox-label:active {
    text-decoration-line: underline;    
    color: #1E0606;
}

.checkbox-input:disabled + .checkbox-label,
.checkbox-input:disabled + .checkbox-label::before {
    color: #908484;  
    text-decoration-line: none;  
    cursor: none;   
}

.help {
    margin-left: 43px;
    margin-top: -16px;
}

.help span {
    font-family: 'Montserrat', 'Arial', sans-serif;    
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;    
}

.help-text {
    margin-top: 19px;
    margin-bottom: 19px;
}

.button {
    background: #000000;
    color: #FFFFFF;
    font-weight: 700;    
    text-transform: uppercase;
    border: none;    
    cursor: pointer;
    padding: 9px 22px 9px 22px;  
    margin-top: 4px;
    margin-left: -3px;
    margin-bottom: -11px;
}
.button:active {
    background: #CFAF91;
}

.button:hover {
    background: #C29974;
}

.button:disabled {
    background: #C7C1C1;
}