/* popup */

input, 
textarea {
    background: $secondary;
    border: 1px solid $color-disable;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    padding: 14px 20px 11px 20px;
    resize: none;  
    outline: none;      
}

input:hover, 
textarea:hover,
input:active, 
textarea:active {
    background: $secondary;
    border: 1px solid $color-hover;      
} 

input:disabled, 
textarea:disabled {
    background: $secondary;
    border: 1px solid #EBEBEB;    
}

textarea {
    max-height: 150px;
}

label,
.label__wrapper span {    
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;   
}

.label {
    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 17px;
        margin-right: 18px;
    }
    &__name {
        margin-top: -25px;
        margin-left: -2px;
        @media (max-width: 769px) {       
            margin-left: 15px;
            margin-top: -26px;
        }     
        @media (max-width: 500px) {       
            margin-left: -18px;
            margin-top: -44px;
        }      
    }
    &__phone {
        margin-left: -2px;
        @media (max-width: 769px) {               
            margin-left: 16px;
        }  
        @media (max-width: 500px) {               
            margin-left: -19px;
            margin-top: -4px;
        }  
    } 
    &__email {        
        @media (max-width: 769px) {       
            margin-left: -14px;
            margin-top: 2px;
        }
        @media (max-width: 500px) {       
            margin-left: -18px;
            margin-top: -4px;
        }
    } 
    &__message {
        margin-top: 3px;
        margin-left: -2px;
        @media (max-width: 769px) {
            margin-left: 16px;
            margin-top: 1px;
        } 
        @media (max-width: 500px) {
            margin-left: -18px;
            margin-top: -4px;
        }    
    }
}


input {
    margin-left: -3px;   
}

.input {
    &__name {
        width: 600px;
        @media (max-width: 769px) {
            font-size: 16px;
            line-height: 19px;
            margin-left: 15px;
            margin-top: 4px;
            width: 536px;
        }    
        @media (max-width: 500px) {
            font-size: 14px;
            height: 42px;
            line-height: 16px;
            margin-left: -17px;
            margin-top: 3px;
            width: 285px;
        }            
    }
    &__phone {
        margin-left: -2px;
        margin-right: 21px;
        width: 290px;   
        @media (max-width: 769px) {
            width: 258px;
            margin-left: 15px;
            margin-top: 2px;
        } 
        @media (max-width: 500px) {   
            height: 41px;
            margin-left: -17px;
            margin-top: 4px;
            width: 285px;
        }   
    }
    &__email {        
        width: 290px;
        @media (max-width: 769px) {
            margin-left: -14px;           
            width: 258px;
        }  
        @media (max-width: 500px) {   
            height: 41px;           
            width: 285px;
        }     
    }
    &__message {
        margin-top: 3px;
        margin-left: -3px;
        margin-bottom: 7px;
        width: 600px;
        @media (max-width: 769px) {
            margin-left: 15px;
            margin-top: 4px;
            width: 536px;
        }    
        @media (max-width: 500px) {
            margin-left: -17px;
            margin-top: 5px;
            width: 285px;
        }    
    }
}

.field-2-column{
    display: flex;
    justify-content: space-between;   
    @media (max-width: 500px) {
        flex-wrap: wrap;
    }        
}
  
.field-2-column .label__wrapper {
    width: 290px;   
}
   
.consent {
    margin-left: -5px;

    @media (max-width: 769px) {        
        margin-left: 14px;
    }     
    @media (max-width: 500px) {        
        margin-left: -16px;
        margin-top: -9px;
    }
}     

.checkbox {
    &__input {
        display: none;   
    }
    &__label {
        position: relative;
        cursor: pointer;    
        padding-left: 36px;     
    
        @media (max-width: 769px) {        
            margin-right: -53px;
            margin-top: -3px;
            padding-left: 35px;
        }
        @media (max-width: 500px) {
            padding-left: 27px;
            margin-right: -67px;             
        }
        &::before,
        &::after {
            content:'';
            position: absolute;
            display: block;   
        }
        &::before,
        &::after {
            content:'';
            position: absolute;
            display: block;   
        }
        &::before {   
            width: 19px;
            height: 19px;     
            border: 2px solid $color-hover;
            background: $secondary;
            border-radius: 3px; 
            top: -3px;
            left: 0;

            @media (max-width: 500px) {
                width: 14px;
                height: 14px;
                top: 1px;
                left: -2px;
            }
        }
        &::after {
            width: 14px;
            height: 14px;     
            background-image: url('../img/checkbox.svg'); 
            top: 0px;
            left: 4px;
            opacity: 0;

            @media (max-width: 500px) {
                width: 13px;
                height: 13px;
                background-image: url('../img/checkbox-mobile.svg');
                top: 1px;
                left: 1px;
            } 
        } 
        &:hover,
        &:active {
            text-decoration-line: underline;    
            color: $text-color;
        }
    }
}

.checkbox__input:checked + .checkbox__label::after {
    opacity: 1;
}

.checkbox__input:disabled + .checkbox__label,
.checkbox__input:disabled + .checkbox__label::before {
    color: #908484;  
    text-decoration-line: none;  
    cursor: none;   
}



.popup__form .button {
    @media (max-width: 769px) {        
        margin-left: 15px;
        margin-top: 2px;
    }      
    @media (max-width: 500px) {   
        font-size: 14px;
        line-height: 19px;
        margin-left: -18px;
        margin-top: -2px;
    }      
}




.window-mobel {
    @media (max-width: 769px) {        
        top: -83px;
        right: 60px;        
    }
    @media (max-width: 400px) {      
        padding-left: 3px;
        top: -313px;
        right: 70px;
    }
}

.popup {
    position: fixed;    
    top: 0;
    left: 0;
    right: 0;
    background: rgba(125, 151, 218, 0.8);
    bottom: 0;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;

    @media (max-width: 769px) {        
        max-width: 768px;  
    }
    @media (max-width: 400px) {      
        width: 403px;     
    }
    &__open {
        display: flex;
    }
    &__title {
        font-size: 0;
        width: 0;
        height: 0
    }
     ;
    &__form {
        width: 680px;
        background: #E5EAF8;
        padding: 67px 42px 53px 42px;
        position: relative;
        margin-right: 75px;
        margin-bottom: 2px;
        @media (max-width: 769px) {
            margin-left: 200px;
            order: 1;
            width: 648px;
            margin-bottom: -63px;
        }
        @media (max-width: 500px) {
            height: 555px;
            margin-top: -19px;
            width: 335px;
            margin-bottom: -61px;
        }
    }
    &__close {
        border: none;
        background: transparent;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer; 
        background: #E5EAF8;
        transform: rotate(90deg); 

        &:hover {
            background: rgba(240, 240, 240, 0.7);
            transform: rotate(90deg);
        }
        &:active {
        background: rgba(240, 240, 240, 0.4);
        transform: rotate(90deg) 
        } 
    }
}

