$primary-font: 'Open Sans', 'Arial', sans-serif;
$secondary-font: 'Montserrat', 'Arial', sans-serif;
$third-font: 'Roboto', 'Arial', sans-serif;
$four-font: 'Crimson Text', serif;
$five-font: 'Lato', 'Arial', sans-serif;

$color-primary: #000000;
$secondary: #ffffff;
$text-color: #1E0606;
$color-hover: #C29974;
$color-active: #CFAF91;
$color-disable: #C7C1C1;

$transition-duration: .4s;