<footer class="footer">
  <div class="footer-wrapper container">
      <div>
          <h3 class="header title-border">Navigation</h3>
              <ul class="footer-link underline">
                  <li>
                      <a href="#">About Us</a>
                  </li>
                  <li>
                      <a href="#">Blog</a>
                  </li>
                  <li>
                      <a href="#">Design Services</a>
                  </li>
                  <li>
                      <a href="#">Featured On</a>
                  </li>
                  <li>
                      <a href="#">2018 Holiday Catalog</a>
                  </li>
                  <li>
                      <a href="#">Shop By Designer</a>
                  </li>
              </ul>
          
      </div>
      <div>
          <h3 class="header title-border ">Customer Information</h3>
          
              <ul class="footer-link underline">
                  <li>
                      <a href="#">Contact Us</a>
                  </li>
                  <li>
                      <a href="#">Sale Exclusions</a>
                  </li>
                  <li>
                      <a href="#">Shipping & Returns</a>
                  </li>
                  <li>
                      <a href="#">Terms & Conditions</a>
                  </li>
                  <li>
                      <a href="#">Privacy Policy</a>
                  </li>
                  <li>
                      <a href="#">Search</a>
                  </li>
              </ul>
          
      </div>
                
      <div>
          <h3 class="header title-border">Connect</h3>
          <form action="#" class="footer-form">
                  <label for="input-email-1"></label>
                  <input type="email" id="input-email-1" placeholder="Email" class="email">                        
                  <button class="button-submit" type="submit" >Join</button>                    
          </form>                
          
              <ul class="footer-company underline">
                  <li>
                      <a href="#">
                          <img src="img/messengers/facebook.png" alt="facebook" width="30" height="30">
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="img/messengers/twitter.png" alt="twitter" width="30" height="30"> </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="img/messengers/pinterest.png" alt="pinterest" width="30" height="30">
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="img/messengers/instagram.png" alt="instagram" width="30" height="30">
                      </a>
                  </li>
              </ul>
          
      </div>
  </div>  
  <div class="footer-rating container">
      <p class="rating-company">Company Rating</p>                 
              <div class="simple-rating">                             
                  <div class="simple-rating-items">                    
                      <input id="simple-rating-5" type="radio" class="simple-rating-item" name="simple-rating" value="5" checked>
                      <label for="simple-rating-5" class="simple-rating-label"></label>  
                      <input id="simple-rating-4" type="radio" class="simple-rating-item" name="simple-rating" value="5">
                      <label for="simple-rating-4" class="simple-rating-label"></label> 
                      <input id="simple-rating-3" type="radio" class="simple-rating-item" name="simple-rating" value="5">
                      <label for="simple-rating-3" class="simple-rating-label"></label> 
                      <input id="simple-rating-2" type="radio" class="simple-rating-item" name="simple-rating" value="5">
                      <label for="simple-rating-2" class="simple-rating-label"></label> 
                      <input id="simple-rating-1" type="radio" class="simple-rating-item" name="simple-rating" value="5">
                      <label for="simple-rating-1" class="simple-rating-label"></label>    
                  </div>                       
              </div>
           
      <span class="copyright" >Copyright © 2018 Dlk • Design Life Kids</span>
      <a class="footer-star" href="#">Web Design — Direct Line Development</a>
  </div>         
</footer>
