<header>
    <div class="header container">   
        <a class="header__logo" href="/">
            <picture>
                <source srcset="img/logo/logo-mobile_1x.png 1x, img/logo/logo-mobile_2x.png 2x" media="(max-width: 450px)">
                <source srcset="img/logo/logo-tablet_1x.png 1x, img/logo/logo-tablet_2x.png 2x" media="(max-width: 870px)">
                <source srcset="img/logo/logo_1x.png 1x, img/logo/logo_2x.png 2x">
                <img src="img/logo/logo_1x.png" class="header__logo-img" alt="logo">        
            </picture>                   
        </a>
        <nav class="header__menu">
            <ul class="underline header__list">
                <li>
                    <a class="header__item" href="catalog.html">Catalog</a>
                </li>                              
                <li>
                    <a class="header__item" href="#">About Us</a>
                </li>
                <li>
                    <a class="header__item" href="blog.html">Blog</a>
                </li>
                <li>
                    <a class="header__item" href="animation.html">Animation</a>
                </li>
                <li>
                    <a class="header__item" href="svg.html">SVG</a>
                </li>
                <li>
                    <a class="header__item" href="grid.html">Grid</a>
                </li>
            </ul>
            <button class="header__button-mobile header__button-mobile_js">MENU</button>
            <ul class="header__links underline">
                <li>
                    <a href="contact.html"><img src="img/search.png" alt="search" class="header__search"></a>
                </li>
                <li>
                    <a href="contact.html" class="header__contact">Contact Us</a>
                </li>              
              
            </ul>
        </nav>
    </div>
    
    
    <div class="mobile-header">
        <div class="mobile-header__content">  
            <div class="mobile-header__cap">
                <a class="mobile-header__logo" href="/">
                    <picture>
                        <source srcset="img/logo/logo-mobile_1x.png 1x, img/logo/logo-mobile_2x.png 2x" media="(max-width: 450px)">
                        <source srcset="img/logo/logo-tablet_1x.png 1x, img/logo/logo-tablet_2x.png 2x" media="(max-width: 870px)">
                        <source srcset="img/logo/logo_1x.png 1x, img/logo/logo_2x.png 2x">
                        <img src="img/logo/logo_1x.png" class="mobile-header__logo-img" alt="logo">        
                    </picture>                                         
                </a>
                <button class="mobile-header__close mobile-header__close_js" type="button" value="closed"></button>
                <a href="contact.html"><img src="img/search.png" alt="search" class="mobile-header__search"></a>
            </div>      
            <nav class="mobile-header__menu">
                <ul class="underline mobile-header__list">                    
                    <li>
                        <a class="mobile-header__item" href="catalog.html">Catalog</a>
                    </li>
                    <li>
                        <a class="mobile-header__item" href="#">About Us</a>
                    </li>
                    <li>
                        <a class="mobile-header__item" href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a class="mobile-header__item" href="animation.html">Animation</a>
                    </li>
                    <li>
                        <a class="mobile-header__item" href="svg.html">SVG</a>
                    </li>
                    <li>
                        <a class="mobile-header__item" href="grid.html">Grid</a>
                    </li>
                </ul>
            </nav>
            
            <a href="contact.html" class="mobile-header__contact">Contact Us</a>   
        </div> 
    </div>  
</header>

