<div class="pagination__wrapper container">
    <a class="pagination__prev" href="#">
        <span class="prev">
            <svg class="svg" width="17" height="29" viewBox="0 0 17 29">
              <path d ="M 0 3 L 11 14 L 0 26 L 3 29 L 17 14 L 3 0 Z"/>
            </svg>
        </span>
    </a>
    <div class="pages">
        <ul class="pages__list underline">                
            <li>
                <a class="pages__link pages__link_active" href="#">1</a>
            </li>
            <li>
                <a class="pages__link" href="#">2</a>
            </li>
            <li>
                <a class="pages__link" href="#">3</a>
            </li>
            <li>
                <a class="pages__link" href="#">4</a>
            </li>               
        </ul>
    </div>            
    <a class="pagination__next" href="#">
        <span class="next">
            <svg class="svg" width="17" height="29" viewBox="0 0 17 29">
              <path d ="M 0 3 L 11 14 L 0 26 L 3 29 L 17 14 L 3 0 Z"/>
            </svg>
        </span>
    </a>
</div>